@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
}
html,
body {
  scroll-behavior: smooth !important;
}
/* SLIDER CSS START HERE */
.swiper-pagination {
  position: unset !important;
}

.swiper-slide-active div {
  position: relative !important;
  border-color: #a854e9 !important;
}

.swiper-slide-active .swiper-card {
  background: linear-gradient(180deg, #0071bc 0%, #58b9f9 100%);
}
.swiper-slide-active p {
  opacity: 1 !important;
}
.swiper-slide-active p {
  color: white;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

/* PRICING CSS CODE HERE */
.pricing-gradiant:hover {
  box-shadow: 0px 32px 80px 0px #1a40891f;
  background: linear-gradient(180deg, #0071bc 0%, #58b9f9 100%);
}

.pricing-gradiant:hover .price_heading {
  color: #fefefe;
}

.pricing-gradiant:hover .right_icon path {
  fill: #fefefe;
}

.pricing-gradiant:hover .pricing_option {
  color: #fefefe;
}

.pricing-gradiant:hover .cross_icon path {
  fill: white;
}

/* NEWS INSIGHTS CSS CODE HERE */
.news_card:hover {
  background: linear-gradient(180deg, #58b9f9 0%, #0071bc 100%);
  box-shadow: 0px 16px 48px 0px #06233f08;
  box-shadow: 0px -16px 48px 0px #06233f08;
}

.news_card:hover .read_arrow path {
  fill: #fefefe;
}

.news_card:hover .news_heading {
  color: #fefefe;
}

.news_card:hover .news_pera {
  color: #fefefe;
}

.news_card:hover .news_read {
  color: #fefefe;
  border-bottom: 1.5px solid #fefefe !important;
}
